body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
#header{
    background-image: url(../images/developer.png);
    background-repeat: no-repeat;
    background-position: left;
}
.navigation{
    display: flex;
}
.nav_item{
    padding-top: 15px;
    margin-left: 700px;
}

.nav_item ul{
    display: flex;
    align-items: center;
}
li{
    list-style: none;
    padding-left: 10px;
    margin-left: 50px;
}
.hire_btn{
    background-image: linear-gradient(45deg,#2580d1,#ff6347);
    padding: 20px 30px;
    color: white;
    font-weight: 700;
    border-radius: 10px;
}
.greet{
    font-weight: 600;
    font-size: 50px;
    color: darkkhaki;
}
.first_name{
    color: coral;
    font-size: 70px;
    font-weight: 700;
}
.last_name{
    color: chocolate;
    font-size: 70px;
    font-weight: 700;
}
.info{
    font: weight 300px;
    text-align: justify;
}
.info_container{
    display: flex;
    background-image: url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: right 98%;
}
.info_container p{
    padding-bottom: 20px;
}
.half_width{
    width: 50%;
    padding-left: 10%;
}
.personal_info{
    padding-top: 10%;
}
a{
    text-decoration: none;
}
.downlod_btn{
    background-image: linear-gradient(45deg,#ff6347,#c5521da9);
    padding: 15px 25px;
    font-size: 20px;
    color: azure;
    border-radius: 5px;
}
.about{
    background-image: linear-gradient(60deg,#e2500ca9,#ffc8a1);
    margin: 200px 120px;
    padding: 130px 150px;
    border-radius: 10px;
    text-align: center;
    color: azure;
    box-shadow:10px 10px 5px #00000033;
}
.about_title{
    color: #21389e;
    padding-bottom: 15px;
    font-weight: 900;
    font-size: 30px;
}
.about_description{
    font-weight: 500;
    text-align: center;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about_info{
    padding-top: 30px;
}
.info_title{
    color: #00000098;
    font-weight: 700;
    font-size: 18px;
}
.info_description{
    font-size: 22px;
    font-weight: 500;
}
.work{
    width: 80%;
    text-align: center;
    padding: 10%;
}
.work h1{
    text-align: center;
    margin-bottom: 50px;
    font-size: 35px;
    font-weight: 700;
}
.work_container{
    display: flex;
    gap: 25px;
}
.work_box{
    padding: 30px 30px 40px 30px;
    box-shadow: 5px 5px 10px #c0b9b9;
    text-align: left;
}
.work_box img{
    padding-bottom: 20px;
}
.work_title{
    font-weight: 700;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
}
.work_description{
    color: #888282;
}
.resume_section{
    width: 80%;
    padding: 10%;
}
.resume_container{
    display: flex;
    gap: 30px;
}
.resume_section_title{
    text-align: center;
    font-size: 30px;
    font-weight: 800;
}
.content_title{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
.resume_title{
    font-size: 25px;
    font-weight: 700;
    color: #4d4949;
}
.resume_sub_title{
    font-size: 20px;
    font-weight: 700;
    color: #888282;
}
.resume_description{
    color: #a09a9a;
    padding-bottom: 25px;
}
.resume_btn{
    text-align: center;
    margin-top: 50px;
}
.footetr{
    background-color: #131212;
    color: aliceblue;
}
.footer_conteinar{
    display: flex;
    width: 70%;
    padding: 15%;
}
.footer_width{
    width: 50%;
}
.connect_soial{
    padding-top: 20px;
    padding-right: 15px;
}
.connect h1{
    font-size: 40px;
    font-weight: 300;
}
.connect_details{
    color: #888282;
}
.message_box{
    padding-left: 100px;
}
.message_box h1{
    font-size: 40px;
    font-weight: 300;
}
.message_input{
    display:block;
    padding: 20px;
    margin-bottom: 20px;
    border: 1px solid #e9e2e1;
    border-radius: 10px;
    background-color: #131212;
    color: aliceblue;
    box-shadow: 3px 3px 5px #e9e2e1;
}
::placeholder {
    color: #e9e2e1;
    opacity: .8;
    font-size: 16px;
}
.btn-primary{
    border: 0;
    border-radius: 5px;
    background-image: linear-gradient(45deg,#e9e2e1,#7e7472);
    padding: 20px 35px;
    font-size: 15px;
}